:root {
    --theme-black: #171a21;
    --theme-gray: #1b2838;
    --theme-l-gray: #2a475e;
    --theme-white: #c7d5e0;
    --accent: #66c0f4;
    --default-pad: 20px;
}

* {
    margin: 0;
    padding: 0;
}

/* layout */
.content {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.header {
    padding: var(--default-pad);
    text-align: center;
}

#add {
    align-self: center;
    padding: var(--default-pad);
}

.library-container {
    flex: 1;
    display: grid;
    overflow-y: auto;
}

#library {
    padding: var(--default-pad);
    display: grid;
    gap: var(--default-pad);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
    justify-self: center;
}

.footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: var(--default-pad);
    align-items: center;
}

.my-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    pointer-events: none;
    opacity: 0;
    transition:
        transform 0.3s ease-in-out,
        opacity 0.3s ease-in-out;
}

.my-modal.visible {
    pointer-events: auto;
    opacity: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: var(--default-pad);
    width: clamp(200px, 80%, 400px);
    display: flex;
    flex-direction: column;
    gap: var(--default-pad);
    transform: translate(-50%, -50%);
}

button{
    height: 50px;
}

a > img{
    height: 40px;
}

#add-game-form {
    display: flex;
    flex-direction: column;
    gap:var(--default-pad);
}

.form-row {
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-items: center;
}

.button-tray {
    display: flex;
    flex-direction: row;
    gap: var(--default-pad);
}

.button-tray > button {
    margin-top: var(--default-pad);
    flex: 1;
}

@media only screen and (min-width: 1080px) {
    .library-container {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1080px 1fr;
    }

    #library {
        grid-column: 2;
    }

    .modal-content {
        width: clamp(600px, 60%, 720px);
    }
}

/* colors */
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-image: linear-gradient(var(--theme-black), var(--theme-gray));
}

.header {
    background-color: var(--theme-black);
    color: var(--theme-white);
    font-size: 1.5em;
}

.footer {
    background-color: var(--theme-black);
    color:var(--theme-white)
}

.my-modal {
    background-color: #171a21bd;
}

.modal-content {
    color: var(--theme-white);
    background-color: var(--theme-gray);
    color: var(--theme-white);
    font-size: 1.2em;
}

input {
    padding: 3px;
    font-size: 1.2em;
    height: 30px;
}

.card {
    aspect-ratio: 2/3;
    background-color: var(--theme-white);
    height: 300px;
}

button {
    background-color: var(--theme-white);
    border: none;
    cursor: pointer;
}

button:hover {
    scale: 1.05;
    transition: 0.2s ease-in-out;
}

.button-tray > button {
    background-color:var(--theme-white);
}

.button-tray > button.form-add {
    background-color: var(--accent);
}