:root {
    --theme-black: #171a21;
    --theme-gray: #1b2838;
    --theme-l-gray: #2a475e;
    --theme-white: #c7d5e0;
    --accent: #66c0f4;
    --default-pad: 20px;
    --theme-transition: 0.3s cub5ic-bezier(0.075, 0.82, 0.165, 1);
}

* {
    margin: 0;
    padding: 0;
    /* border: solid 1px rebeccapurple */
}

/* layout */
.content {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.header,
#add {
    padding: var(--default-pad);
    align-self: center;
}

.library-container {
    flex: 1;
    display: grid;
    overflow-y: auto;
}

#library {
    padding: var(--default-pad);
    display: grid;
    gap: var(--default-pad);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: var(--default-pad);
    align-items: center;
}

.my-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    pointer-events: none;
    opacity: 0;
    transition: var(--theme-transition);
}

.my-modal.visible {
    pointer-events: auto;
    opacity: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: var(--default-pad);
    width: clamp(200px, 80%, 400px);
    display: flex;
    flex-direction: column;
    gap: var(--default-pad);
    transform: translate(-50%, -50%);
}

#add-game-form {
    display: flex;
    flex-direction: column;
    gap:var(--default-pad);
}

.form-row {
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-items: center;
}

.button-tray {
    display: flex;
    flex-direction: row;
    gap: var(--default-pad);
}

.button-tray > button {
    margin-top: var(--default-pad);
    flex: 1;
}

.card {
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.card-front > img {
    width: 100% ;
    object-fit: cover;
}

.card-back {
    flex: 1;
    box-sizing: content-box;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

a > img,
.card-back > button > img {
    height: 30px;
    display: flex;
}

.card-back > button {
    align-self:self-end
}

@media only screen and (min-width: 1080px) {
    .library-container {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1080px 1fr;
    }

    #library {
        grid-column: 2;
    }

    .modal-content {
        width: clamp(600px, 60%, 720px);
    }
}

/* colors */
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-image: linear-gradient(var(--theme-black), var(--theme-gray));
}

.header {
    background-color: var(--theme-black);
    color: var(--theme-white);
    font-size: 1.5em;
}

.footer {
    background-color: var(--theme-black);
    color:var(--theme-white)
}

.my-modal {
    background-color: #171a21bd;
}

.modal-content {
    color: var(--theme-white);
    background-color: var(--theme-gray);
    color: var(--theme-white);
    font-size: 1.2em;
}

input {
    padding: 3px;
    font-size: 1.2em;
    height: 30px;
}

.card {
    aspect-ratio: 2/3;
    background-color: var(--theme-white);
    height: 300px;
}

button {
    height: 50px;
    background-color: var(--theme-white);
    border: none;
    cursor: pointer;
}

button:hover,
.card:hover {
    scale: 1.05;
    transition: var(--theme-transition);
}

.button-tray > button {
    background-color:var(--theme-white);
}

.button-tray > button.form-add {
    background-color: var(--accent);
}

.title {
    font-size: 1.1em;
    font-weight: bold;
}

input[type='file'] {
    font-size: 1em;
    color: var(--theme-white);
}

input[type='file']::file-selector-button {
    color: var(--theme-black);
    background-color: var(--theme-white);
    vertical-align: middle;
    border: none;
}